body {
  margin: 0;
  background-image: url("../img/prism.png");
  padding: 0;
}

.container-header {
  padding: 10px 0;
}

.logo-img {
  margin-right: 1.5rem;
}

.localization-form {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.form-header {
  margin-top: 0 !important;
}

.delete-icon {
  margin-left: 0.5rem !important;
  color: #ffffffe6;
}

.delete-icon:hover {
  color: tomato;
}

.login-header {
  color: rgb(250, 111, 30) !important;
  text-align: center;
}

.login-grid {
  height: 90vh;
  margin: auto;
}

.login-grid-column{
  max-width: 450px !important;
}
