body {
  margin: 0;
  background-image: url("../img/prism.png");
}

.container-header {
  padding: 10px 0;
}

.logo-img {
  margin-right: 1.5rem;
}

.localization-form {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.form-header {
  margin-top: 0 !important;
}

.login-header {
  color: #ff8c00 !important;
  text-align: center;
}

.login-grid {
  height: 90vh;
  margin: auto;
}

.login-grid-column{
  max-width: 450px !important;
}
