body {
  margin: 0;
  margin-top: -15px;
  /* This pattern is downloaded from www.subtlepatterns.com  */
  background-image: url("../img/prism.png");
}

.container-header {
  padding: 10px 0;
}

.logo-img {
  margin-right: 1.5rem;
}

.menu {
  margin-top: 0;
}

.menu-header::before {
  display: none;
}

.header-link.active {
  background: transparent !important;
}

.localization-form {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.form-header {
  margin-top: 0 !important;
}

.login-header {
  color: #ff8c00 !important;
  text-align: center;
}

.login-grid {
  height: 90vh;
  margin: auto;
}

.login-grid-column {
  max-width: 450px !important;
}

.chekcbox-btn {
  outline: none;
  color: #f9fafb;
  border: none;
  box-shadow: 0 0 0 2px #d4d4d5 inset;
  background-color: transparent;
  font-weight: 400;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 9em;
  margin: 0.25em;
  padding: 0.7em 1.2em;
  line-height: 1em;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  box-sizing: border-box;
}

.chekcbox-btn:hover {
  background-color: #cfd0d2;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.6);
}

.chekcbox-btn-active {
  background-color: #f2711c;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  font-weight: 700;
  background-image: none;
}

.chekcbox-btn-active:hover {
  background-color: #f26202;
}

.road-info {
  height: 70vh;
  overflow-x: auto;
}

.road-info .heading,
.road-info .direction {
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.road-info .street {
  font-weight: 700;
  color: #f2711c;
}

.road-info .distance-description,
.road-info .sign {
  color: #d4d4d5;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  word-spacing: 0.1em;
}

.road-info .distance-description {
  display: block;
  margin-top: 1em;
  border-top: 2px solid #444;
}

.road-info .length {
  font-weight: 700;
  color: #fff;
}

.road-info .next-street {
  color: #f26202;
}

.destination {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.destination::before {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 10px;
}

.destination::after {
  display: block;
  content: " ";
  margin: 1px 0 20px 10px;
  width: 63%;
  height: 2px;
  background-color: #f26202;
}

.lockers-list {
  color: #f26202;
}

.here-map {
  height: 530px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.form-admin-panel {
  margin: auto;
}

.form-admin-panel .grid-column {
  margin: 0.5em 0;
}

.card-admin-panel {
  background-color: #1b1c1d !important;
  box-shadow: none !important;
}

.card-admin-panel .header {
  color: #fff !important;
}

.card-admin-panel .meta {
  color: #fff !important;
}

.card-admin-panel .description {
  color: #fff !important;
}

.dimmable > .modals {
  background-color: #00000030;
}

.package-list {
  user-select: none;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  color: #f2711c;
  font-size: 1.1rem !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1rem;
  cursor: pointer;
}

.package-list:hover {
  text-shadow: #000000 2px 2px 2px;
  color: #fd9652;
  font-size: 1.1rem !important;
}

.package-list-content {
  padding: 1rem;
}

.loader {
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: white;
  width: 100%;
  height: 100%;
}

.spin {
  position: relative;
  padding-top: 50px;
}

.spin::before,
.spin::after {
  content: "";
  width: 2.28571429rem;
  height: 2.28571429rem;
  margin: 0 0 0 -1.14285714rem;
  position: absolute;
  top: 0;
  left: 45%;
  border-radius: 500rem;
}

.spin::before {
  border: 0.2em solid rgba(255, 255, 255, 0.1);
}

.spin::after {
  animation: loader 0.6s linear;
  border-color: #fff transparent transparent;
  animation-iteration-count: infinite;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0 0 0 1px transparent;
  box-sizing: inherit;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.package-order-li {
  display: flex;
  width: 150px;
  justify-content: space-between;
  flex-direction: row;
}

.package-order-li-name {
  width: 100px;
}

.package-order-li-icon {
  width: 20px;
}

.segment .dropdown .item:hover {
  background-color: #f2711c !important;
  color: white !important;
}

.delete-icon {
  color: #f2711c;
}

.delete-icon:hover {
  color: red;
}

@media (max-width: 540px) {
  .menu-mobile {
    display: none !important;
  }

  a[href="/logout"] {
    border: none;
  }

  .main-page {
    display: none;
  }

  .home-page {
    display: none;
  }
}
